<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Decryption Successful</title>
</head>
<body>
    <h1>Decryption Successful</h1>
    <h2>Decrypted Image:</h2>
    <img src="{{ decrypted_image_path }}" alt="Decrypted Image" style="max-width: 50%;"><br><br>

    <p><a href="{{ decrypted_image_path }}" download>Download Decrypted Image</a></p>

    <h2>PSNR Value: {{ psnr_value }} dB</h2>

    <form action="{% url 'home' %}" method="get">
        <button type="submit">Go to Home</button>
    </form>
</body>
</html>
